//
   Created by rajagopalan on 11/30/14.

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Human Anatomy - Login
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        // Styles
        link(href="stylesheets/bootstrap.css", rel="stylesheet")
        link(href="stylesheets/login.css", rel="stylesheet")
        link(href="stylesheets/fontello.css", type="text/css", rel="stylesheet")
        //if lt IE 7
          link(href="stylesheets/fontello-ie7.css", type="text/css", rel="stylesheet")
        // Google Web fonts
        link(href="http://fonts.googleapis.com/css?family=Quattrocento:400,700", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Patua+One", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
        link(href="stylesheets/bootstrap-responsive.css", rel="stylesheet")
        // JQuery
        script(type="text/javascript", src="javascripts/jquery.js")
        // Load ScrollTo
        script(type="text/javascript", src="javascripts/jquery.scrollTo-1.4.2-min.js")
        // Load LocalScroll
        script(type="text/javascript", src="javascripts/jquery.localscroll-1.2.7-min.js")
        script(type="text/javascript", charset="utf-8").
            $(document).ready(function() {
            $("#login").show();
            $("#signup").hide();
            });
    body
        // NavBar
        .navbar-wrapper
            .navbar.navbar-inverse.navbar-fixed-top
                .navbar-inner
                    .container
                        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        h1.brand
                            a(href="/") HumanAnatomy
        #top
        // Login
        #contentwrap
            .clearfix
                h1
                    span Human Anatomy
                #login.container
                    .row
                        .span12
                            form(method="POST", action="login")
                                h2
                                    | Login or
                                    a(onclick="divToggle('signup','login');")
                                        span#signuptext  Signup
                                input#userName(type="text", name="userName", placeholder="you@email.com", size="40", title="your email")
                                br
                                br
                                input#pass(type="password", name="pass", placeholder="********", size="40", title="your password")
                                br
                                br
                                input(type="submit", value="Login")
                #signup.container
                    .row
                        .span12
                            form(method="POST", action="register")
                                h2
                                    a(onclick="divToggle('login','signup');")
                                        span#logintext Login
                                    |  or Signup
                                input#flname(type="text", name="flname", placeholder="Your Name")
                                br
                                br
                                input#userName_r(type="text", name="userName_r", placeholder="you@email.com", size="40", title="your email")
                                br
                                br
                                input#pass_r(type="password", name="pass_r", placeholder="********", size="40", title="your password")
                                br
                                br
                                input(type="submit", value="SignUp", onclick="home.html")
        // Footer
        section#footer
            footer
                p &#160;&#169; 2014 HumanAnatomy.
        script(type="text/javascript", src="javascripts/bootstrap.js")
        script(type="text/javascript").
            function divToggle(arg1, arg2) {
            document.getElementById(arg1).style.display = 'block';
            document.getElementById(arg2).style.display = 'none';
            }
