//
   Created by rajagopalan on 11/30/14.

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Human Anatomy - View Models
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        // Styles
        link(href="stylesheets/bootstrap.css", rel="stylesheet")
        link(href="stylesheets/viewmodels.css", rel="stylesheet")
        link(href="stylesheets/fontello.css", type="text/css", rel="stylesheet")
        //if lt IE 7
          link(href="css/fontello-ie7.css", type="text/css", rel="stylesheet")
        // Google Web fonts
        link(href="http://fonts.googleapis.com/css?family=Quattrocento:400,700", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Patua+One", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
        link(href="stylesheets/bootstrap-responsive.css", rel="stylesheet")
        // JQuery
        script(type="text/javascript", src="javascripts/jquery.js")
        // Load ScrollTo
        script(type="text/javascript", src="javascripts/jquery.scrollTo-1.4.2-min.js")
        // Load LocalScroll
        script(type="text/javascript", src="javascripts/jquery.localscroll-1.2.7-min.js")
        // prettyPhoto Initialization
        script(type="text/javascript", charset="utf-8").
            $(document).ready(function() {
            $("#login").show();
            $("#signup").hide();
            });
    body
        // NavBar
        .navbar-wrapper
            .navbar.navbar-inverse.navbar-fixed-top
                .navbar-inner
                    .container
                        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        h1.brand
                            a(href="home") HumanAnatomy
                        nav.pull-right.nav-collapse.collapse
                            ul#menu-main.nav
                                li
                                    a(title="viewmodels", href="viewmodels") View Models
                                li
                                    a(title="makemodels", href="makemodels") Make Notes
                                li
                                    a(title="bodybrowser", href="bodybrowser") Body Browser
                                li
                                    a(title="logout", href="logout") Logout
        section#contentwrap
            .container
                h1#headline View Models
                .row
                    .span4
                        .mask2
                            a(href="heartviewer")
                                img(src="images/viewmodel_heart", alt="")
                        .inside
                            hgroup
                                h2 Heart Viewer
                            .entry-content
                                a.more-link(href="heartviewer") View Demo
                        // /.inside
                    .span4
                        .mask2
                            a(href="skeletonviewer")
                                img(src="images/viewmodel_skeleton", alt="")
                        .inside
                            hgroup
                                h2 Skeleton Viewer
                            .entry-content
                                a.more-link(href="skeletonviewer") View Demo
                        // /.inside
                    .span4
                        .mask2
                            a(href="bodyviewer")
                                img(src="images/viewmodel_male", alt="")
                        .inside
                            hgroup
                                h2 Body Viewer
                            .entry-content
                                a.more-link(href="bodyviewer") View Demo
        hr
        // Footer
        section#footer
            footer
                p &#160;&#169; 2014 HumanAnatomy.
        script(type="text/javascript", src="javascripts/bootstrap.js")
        script(type="text/javascript").
            function divToggle(arg1, arg2) {
            document.getElementById(arg1).style.display = 'block';
            document.getElementById(arg2).style.display = 'none';
            }
